# Dependencies
node_modules

# Build output
.next
dist

# Environment files
*.local
.env
.env.*
!.env.example

# Database
*.db
*.db-journal
*.db-shm
*.db-wal
prisma/dev.db-wal
prisma/dev.db-shm
data/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Next.js
next-env.d.ts
