{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
